* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.eascontainer {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(16, calc( 960px / 16 ));
}

.eascell {
    width: calc( 960px / 16 );
    height: calc( 960px / 16 );
    border: black 1px solid;
}

/* .eas-cell:hover {
    background-color: black;
} */

.turnblack {
    background-color: black;
}