:root {
    --eascanvas: 960px;
    --eascell: 32;
    --easdimension: calc(var(--eascanvas) / var(--eascell));
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.eascontainer {
    display: grid;
    justify-content: center;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(var(--eascell), var(--easdimension));
}

.eascell {
    width: var(--easdimension);
    height: var(--easdimension);
    border: black 1px solid;
}

.turnblack {
    background-color: black;
}