:root {
    --eascanvas: 500px;
    --eascell: 16;
    --easdimension: calc(var(--eascanvas) / var(--eascell));
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

header, footer {
    padding: 1em;
    margin: 1em;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.control {
    padding: 1em;
}

.eascontainer {
    display: grid;
    justify-content: center;
    border-left: 1px solid black;
    border-top: 1px solid black;
    height: var(--eascanvas);
    width: var(--eascanvas);
    grid-template-columns: repeat(var(--eascell), var(--easdimension));
}

.eascell {
    width: var(--easdimension);
    height: var(--easdimension);
    border: black 1px solid;
    border-left: 0;
    border-top: 0;
}

.turnblack {
    background-color: black;
}